@function negative($value:0) {
  $negative-value:calc($value * -1);
  @return $negative-value;
}

@mixin flex($direction:null, $align-items:null, $justify-content:null) {
  align-items:$align-items;
  display:flex;
  flex-direction:$direction;
  justify-content:$justify-content;
}

@mixin scroll-bar($color:null, $background:null, $height:2vw ,$width-type:null) {
  scrollbar-color:$color $background;
  scrollbar-width:$width-type;

  &::-webkit-scrollbar {
    height:$height;
  }

  &::-webkit-scrollbar-thumb {
    background:$color;
  }

  &::-webkit-scrollbar-track {
    background:$background;
  }
}

%flex-row {
  display:flex;
  flex-direction:row;
}

%align-x {
  left:50%;
  transform:translateX(-50%);
}

%align-x-and-y {
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}