@import "@/styles/effects.scss";
@import "@/styles/sizes.scss";

@import "@/styles/utils.scss";

.header_container {
  @include flex(row, center, space-between);
}

.header_background {
  background:var(--main-black);
}

.title {
  @extend %get-darker-on-hover;
  cursor:pointer;
  font-size:30px;
  font-weight:600;
  user-select:none;

  &::before {
    content:"Good ";
    color:var(--main-green);
  }
}

