@import "@/styles/effects.scss";

.container {
  margin-top:50px;
}

.swiper_content_container {
  @extend %get-darker-on-hover;
  cursor:pointer;
  position:relative;
}

.anime_image_container {
  border-radius:10px;
  height:325px;
  overflow:hidden;
  position:relative;

  &::before {
    background:linear-gradient(.509turn,rgba(9,9,9,.8) 10.21%,transparent 84.67%);
    content:"";
    height:100%;
    position:absolute;
    width:100%;
  }

  img {
    object-fit:cover;
    object-position:50% 50%;
  }
}

.anime_language {
  background:#50c878a8;
  border-radius:6px;
  left:10px;
  padding:5px 10px;
  position:absolute;
  top:10px;
  z-index:1;
}

.anime_name {
  font-weight:600;
  margin-left:2px;
  margin-top:5px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}